/* ===== STYLES GLOBAUX ===== */

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-deep);
    color: var(--text-main);
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

h3 {
    font-size: clamp(0.75rem, 2vw, 0.9rem);
    font-weight: 500;
    margin-bottom: 15px;
    color: var(--secondary);
}
